/**
 * This Film will resume all the needed CSS for Hono to Work:
 * -The Modal CSS;
 * -The differents Styles for button CSS
 */

/**
 * The modal CSS
 */
#hono_modal .modal {
	display:block!important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    font-family: sans-serif;
}
#hono_modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30rem;
    border-radius: 0.5rem;
}
#hono_modal .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
#hono_modal .close-button:hover {
    background-color: darkgray;
}
#hono_modal .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1.0) scaleY(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@media only screen and (max-width: 50rem) {
    #hono_modal h1 {
        font-size: 1.5rem;
    }
    #hono_modal .modal-content {
        width: calc(100% - 5rem);
    }
}